<script type="text/javascript">
	export default {
	    props: ['product'],
		data() {
			return {
				item: JSON.parse(this.product),
				counter: 0,
			}
		},
		methods: {
			increase() {
				this.counter += 1;
			},
			decrease() {
				this.counter -= 1;
			},
		}
	};
</script>

<style scoped>
	.container {
		max-width: 900px;
		margin: 0 auto;
	}
	.center-heading {
		text-align: center;
	}
	.button-container {
		text-align: center;
	}
	.btn {
		cursor: pointer;
		background-color: #1f75cb;
	    box-shadow: inset 0 0 0 1px #1068bf;
	    color: #fff;
        border-width: 0;
	    padding-top: 0.5rem;
	    padding-bottom: 0.5rem;
	    padding-left: 0.75rem;
	    padding-right: 0.75rem;
	    line-height: 1rem;
	    fill: currentColor;
	    justify-content: center;
	    align-items: center;
	    font-size: 0.875rem;
	    border-radius: 0.25rem;
	}
</style>
